  .testo{
    color: grey;
}

.chat{
    background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--WAKqnINn--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://thepracticaldev.s3.amazonaws.com/i/tw0nawnvo0zpgm5nx4fp.png");
    height: calc(100% - 129px);  
}

.notifiche i{  
    border-radius: 50px;
    background-color: rgb(100, 219, 20);
    color: white;
    

}

.notifiche {  
    height: 80px;
}
.header{
    height: 75px;
    background-color: rgb(226, 215, 215);
}

main::after{
    clear: both;
    display: table;
    content: "";
}
div.contanier{
    width: 80%;
    min-width: 900px;
}
div.contenitore-sinistra{
    float: left;
    width: 30%;
    height: 85vh;
  /*   background-color: aqua; */
}
div.contenitore-destra{
    float: left;
    width: 70%;
    height:85vh;
    /* background-color: blue; */
}

.input{
    background-color: rgb(226, 215, 215);
    height: 45px;
}

.avatar{
    width: 65px;
    height: 65px;
}

.lista{
    height: calc(100% - 200px);
    overflow: auto;
}

.contatti{
    background-color: white;
}

/* .contatti.active{
    background-color: rgb(135, 250, 135);
}
.contatti:hover{
    background-color: rgb(243, 243, 35);
} */


.chat{
    display: none;
}
.chat.active{
    display: block;
}

.text{
    width: 250px;
    background-color: white
}

.messaggi.sent{
background-color: #d5f9ba;
}

.messaggi.received{
    background-color: white;
    align-self: start;
    
}
